# dependencies
**/node_modules

# env
**/.env
**/.env.local

# build outputs
**/.next
**/dist
**/build
**/out
**/.turbo

# logs
**/*.log

# OS
.DS_Store
.vercel
.env*.local

# Local Netlify folder
.netlify

# accidental root node files
/package.json
/package-lock.json
/node_modules
